<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html"/>
</head>
<body  style="margin:0; padding: 0;">
<table th:each="resser,iterStat: ${tickets.resser}" width="761" height="800" border="0" cellpadding="0" cellspacing="0"  style="margin:0; padding: 0;">
	<tr>
		<td colspan="5">
			<table  width="761" height="124" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td colspan="4">
						<img src="images/header_01.jpg" width="761" height="47" alt=""></td>
				</tr>
				<tr>
					<td>
						<img src="images/header_02.jpg" width="52" height="65" alt=""></td>
					<td width="326"><img th:src="'data:image/png;base64,' + ${resser.barcode}" align="center" height="60" > </td>
					<td width="326" align="right" valign="top"><span style="font-size:11px; font-family:Arial; font-weight:bold;">ESTE ES TU TIQUE</span><br>
						<span style="font-size:8px; font-family:Arial; ">PRESENTA LA PAGINA ENTERA EN LOS TORNIQUETES DE ENTRADA</span><br>

						<span style="font-size:8px; font-family:Arial; ">Prohibida la entrada o reproducción...</span></td>
					<td>
						<img src="images/header_04.jpg" width="57" height="65" alt=""></td>
				</tr>
				<tr>
					<td colspan="4">
						<img src="images/header_05.jpg" alt="" width="761" height="12" border="0"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<img style="display:block;"  src="images/bono-port-aventura_02.jpg" alt="" width="91" height="207" border="0"></td>
		<td valign="top"><table width="153" border="0">
			<tr>
				<td align="center"><strong style="font-size:11px; font-family:Arial"><em th:text="${resser.codage}" /></strong><br><br>
					<span style="font-size:9px;font-family:Arial"><em th:text="${resser.codzge}" /></span><br><br>
					<span style="font-size:9px;font-family:Arial" th:text="${resser.nomser}"/>
					<br> <br>

<span style="font-size:9px;font-family:Arial">
Del <em th:text="${resser.fecini}">Fecha fin</em>  al <em th:text="${resser.fecfin}">Fecha fin</em>  (según calendario de apertura)</span>
					<br>
					<span style="font-size:9px;font-family:Arial"><em th:text="${resser.codtse}"></em></span>

					<br></td>
				<td align="center"><img  style="display:block;"  src="images/spacer.jpg" width="1" height="170"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><span style="font-size:14px; font-weight:bold; font-family:Arial"> Precio concertado</span></td>
			</tr>
		</table></td>
		<td rowspan="2">
			<img  style="display:block;" src="images/bono-port-aventura_04.jpg" alt="" width="400" height="286" border="0"></td>
		<td><img  style="display:block;" th:src="'data:image/png;base64,' + ${resser.barcodev}" alt="" width="73" height="206" border="0"></td>
		<td rowspan="2"><img src="images/lat-der3.jpg" width="42" height="286" border="0"   style="display:block;" /></td>
	</tr>
	<tr>
		<td><img  src="images/lat-izq.jpg" width="91" height="79" border="0"   style="display:block;" /></td>
		<td align="right" valign="bottom"><img src="images/logo-europlayas.jpg" width="153" height="78" border="0" style="display:block;" /></td>
		<td valign="bottom"><img  src="images/lat-inf.jpg" width="75" height="25" border="0"   style="display:block;" /></td>
	</tr>
	<tr>
		<td colspan="5">
			<img style="display:block;"  src="images/bono-port-aventura_05.jpg" alt="" width="761" height="361" border="0"></td>
	</tr>
	<tr>
		<td colspan="5">
			<table  width="100%" height="285" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td colspan="3">
						<img style="display:block;"  src="images/footer_01.jpg" alt="" width="761" height="22" border="0"></td>
				</tr>
				<tr>
					<td>
						<img style="display:block;"  src="images/footer_02.jpg" width="48" height="241" alt=""></td>
					<td width="666" valign="top"><table width="100%" border="0">
						<tr>
							<td><span style="font-size:11px; font-weight:bold; font-family:Arial">CONDICIONES DE USO</span>
								<br>

		      <span style="font-size:11px; font-family:Arial">
              Periodo de validez según el tipo de entrada.
              <br>

			   Condiciones de uso según el tipo de entrada.
				<br>

				Para cualquier consulta o incidencia puede ponerse en contacto con Europlayas llamando al  902 20 03 03.</span>
								</span>


								<br>
								<span style="font-size:11px; font-weight:bold; font-family:Arial">NORMAS GENERALES</span><br>

		     <span style="font-size:11px; font-family:Arial">
              No es necesario canjear el tique en taquillas. Permite el acceso directo en los torniquetes de entrada.
              <br>

             Este tique da derecho a su titular/portador a acceder a PortAventura Park y/o Caribe Aquatic Park en función del tipo de entrada adquirida,
y al uso de sus atracciones según las condiciones establecidas por Port Aventura Entertainment, S.A. Unipersonal.


             La adquisición de esta entrada implica automáticamente la aceptación de las condiciones y normas generales de PortAventura World.
(www.portaventuraworld.com)


             En caso de que el tique presente cualquier deficiencia o anomalía a juicio de los empleados del Parque, se podrá denegar el acceso a este.


            El código de barras es un control de seguridad que permite el acceso al recinto únicamente una sola vez por día, y tantos días como indique
el presente tique.


           Es obligatorio conservar la entrada hasta la salida definitiva del Parque, pudiendo los empleados de PortAventura requerir su exhibición en
cualquier momento.


           Prohibida su venta.<br>Port Aventura Entertainment, S.A. Unipersonal NIF A-63776306. Avda. Alcalde Pere Molas, Km 2, 4348o Vila-seca (Tarragona).
                </span>

							</td>
						</tr>
					</table></td>
					<td>
						<img style="display:block;"  src="images/footer_04.jpg" alt="" width="47" height="241" border="0"></td>
				</tr>
				<tr>
					<td colspan="3">
						<img style="display:block;"  src="images/footer_05.jpg" alt="" width="761" height="22" border="0"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="5">
			<img style="display:block;"  src="images/bono-port-aventura_07.jpg" alt="" width="761" height="28" border="0"></td>
	</tr>
</table>

</body>
</html>
